{% extends 'base.html' %} {% block content %}
<h1>{{user.first_name}} {{user.last_name}}</h1>

<img
	class="img-thumbnail"
	src="{{user.image_url}}"
	alt=""
/>
<form action="/users/{{user.id}}/edit">
	<button>edit</button>
</form>

<form
	method="POST"
	action="/users/{{user.id}}/delete"
>
	<button>DELETE</button>
</form>

<h2>Posts</h2>
<ul>
	{% for post in posts %}
	<li>
		<a href=""> {{post.title}}</a>
		<!-- NOTE: arbitrary {post.title}. rename OK-->
	</li>
	{% endfor %}
</ul>
<form action="/users/{{user.id}}/posts/new">Add Post</form>
{% endblock %}
